/* reset */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

input[type=text]::-ms-clear {
  display: none;
  width: 0;
  height: 0;
}

input[type=text]::-ms-reveal {
  display: none;
  width: 0;
  height: 0;
}

input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {
  display: none;
}

body {
  font-size: 1em;
  font-family: "Inter", sans-serif;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100%;
  overflow: hidden;
}

.content {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.container {
  margin: 0px auto;
  max-width: 1140px;
}

.header {
  padding: 20px 0 39px 0;
}

.header__body {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: minmax(71px, 91px);
  -ms-grid-columns: 219px 139px 1fr 139px 173px;
      grid-template: minmax(71px, 91px)/219px 1fr 173px;
  -webkit-column-gap: 139px;
     -moz-column-gap: 139px;
          column-gap: 139px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__contacts {
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3/4;
}

.contact__image {
  margin-right: 15px;
  display: inline-block;
}
.contact__image img {
  display: inline;
  width: 40px;
  height: 40px;
}

.header__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-grid-column-align: center;
      justify-self: center;
}

.item__image img {
  margin: 4px 14px 0 0;
  float: left;
}

.header__item {
  padding: 9px 0 9px 14px;
  min-width: 300px;
  height: 58px;
  background: -webkit-gradient(linear, left top, right top, from(rgb(0, 141, 210)), color-stop(53%, rgb(215, 237, 248)), color-stop(85%, rgb(255, 255, 255)));
  background: linear-gradient(90deg, rgb(0, 141, 210) 0%, rgb(215, 237, 248) 53%, rgb(255, 255, 255) 85%);
  border-radius: 22px;
}
.header__item.item__title,
.header__item .item__text {
  display: inline;
}

.item__title {
  font-weight: 500;
  line-height: 20px;
}

.btn {
  margin-top: 67px;
  padding: 22px 67px;
  display: block;
  width: 303px;
  height: 63px;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #FBFBFB;
  background: #FF5E5E;
  -webkit-box-shadow: 0px 5px 15px rgba(237, 76, 76, 0.3);
          box-shadow: 0px 5px 15px rgba(237, 76, 76, 0.3);
  border-radius: 8px;
  -webkit-transition: 0.3s all ease;
  transition: 0.3s all ease;
}
.btn:hover {
  background: #FED917;
}

.about__top {
  position: relative;
  padding-top: 50px;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 734px;
  -ms-grid-columns: (1fr)[2];
      grid-template: 734px/repeat(2, 1fr);
  background: linear-gradient(105.05deg, #1F6583 0%, #008DD2 99.82%);
  z-index: 0;
}

.about-bg .about__one {
  position: absolute;
  bottom: -1px;
  right: 0;
  z-index: 4;
}
.about-bg .about__three {
  position: absolute;
  top: 51px;
  right: 200px;
  z-index: 5;
}
.about-bg .about__four {
  position: absolute;
  top: 56px;
  right: 15px;
  z-index: 3;
}
.about-bg .about__five {
  position: absolute;
  top: 55px;
  right: 0;
  width: 730px;
  height: 730px;
  z-index: 3;
}

.about__body {
  position: absolute;
  top: 26%;
  left: 22.5%;
  width: 628px;
  color: #fff;
  z-index: 5;
}
.about__body span {
  color: #F9D40F;
}
.about__body .btn {
  margin: 0;
}

.about__title {
  margin-bottom: 15px;
  font-weight: 700;
  font-size: 48px;
  line-height: 61px;
  text-transform: uppercase;
}

.about__subtitle {
  margin-bottom: 25px;
  font-weight: 700;
  font-size: 36px;
  line-height: 46px;
  text-transform: uppercase;
}

.about__text {
  margin-bottom: 45px;
  font-size: 20px;
  line-height: 28px;
  letter-spacing: 0.01em;
}

.about__speaker {
  position: absolute;
  bottom: 8%;
  right: 28.5%;
  padding: 26px 30px;
  width: 282px;
  height: 100px;
  color: #fff;
  background: -webkit-gradient(linear, left top, right top, color-stop(49%, rgba(0, 0, 0, 0.1)), color-stop(99%, rgba(255, 255, 255, 0.1)));
  background: linear-gradient(90deg, rgba(0, 0, 0, 0.1) 49%, rgba(255, 255, 255, 0.1) 99%);
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 16px;
  z-index: 6;
}
.about__speaker h2 {
  margin-bottom: 3px;
  font-weight: 700;
  font-size: 20px;
  line-height: 25px;
  letter-spacing: 0.02em;
}
.about__speaker p {
  font-size: 14px;
  line-height: 18px;
}

.about__bot {
  position: relative;
  padding-bottom: 100px;
  background: -webkit-gradient(linear, left top, left bottom, from(#003E5B), to(#1F6583));
  background: linear-gradient(180deg, #003E5B 0%, #1F6583 100%);
  z-index: 3;
}

.benefits__items {
  margin-bottom: 50px;
  display: -ms-grid;
  display: grid;
  -webkit-column-gap: 30px;
     -moz-column-gap: 30px;
          column-gap: 30px;
  row-gap: 40px;
  grid-template-columns: repeat(auto-fit, minmax(195px, 360px));
  z-index: 5;
}

.benefits__item {
  margin: -30px 0 0 0;
  display: -ms-grid;
  display: grid;
  grid-auto-flow: row;
  -ms-grid-rows: auto minmax(70px, 109px);
  -ms-grid-columns: 360px;
      grid-template: auto minmax(70px, 109px)/360px;
  z-index: 5;
}

.benefits__image {
  padding: 0 0 90% 0;
  position: relative;
}
.benefits__image img {
  position: absolute;
  top: 0;
  left: 0;
  width: 360px;
  height: 323px;
  -o-object-fit: cover;
     object-fit: cover;
}

.benefits__text {
  padding: 23px 45px;
  width: 360px;
  height: 109px;
  color: #fff;
  font-size: 1.5rem;
  line-height: 31px;
  letter-spacing: 0.02em;
  background: #1E6381;
  -webkit-box-shadow: 0px 5px 18px rgba(255, 255, 255, 0.08);
          box-shadow: 0px 5px 18px rgba(255, 255, 255, 0.08);
  border-radius: 22px;
}

.certificate {
  margin: 0 auto;
  padding: 83px 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 1160px;
  height: 500px;
  background: #1E6482;
  -webkit-box-shadow: 5px 5px 15px rgba(255, 255, 255, 0.05);
          box-shadow: 5px 5px 15px rgba(255, 255, 255, 0.05);
  border-radius: 22px;
  border: 1px solid #fff;
}

.certificate__body {
  margin-right: 116px;
}

.certificate__title {
  margin: 19px 0 25px 0;
  color: #fff;
  font-weight: 700;
  font-size: 2.25rem;
  line-height: 43px;
  letter-spacing: 0.02em;
}

.certificate__text {
  color: #fff;
  font-size: 20px;
  line-height: 25px;
  letter-spacing: 0.02em;
}

.certificate__image {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}
.certificate__image img {
  width: 472px;
  height: 333.54px;
  border-radius: 22px;
  -webkit-transition: -webkit-transform 0.4s ease 0s;
  transition: -webkit-transform 0.4s ease 0s;
  transition: transform 0.4s ease 0s;
  transition: transform 0.4s ease 0s, -webkit-transform 0.4s ease 0s;
}

.scale {
  -webkit-box-shadow: 0px 5px 14px rgba(0, 0, 0, 0.4);
          box-shadow: 0px 5px 14px rgba(0, 0, 0, 0.4);
  -webkit-transform: scale(1.65);
          transform: scale(1.65);
}

.speaker {
  position: relative;
  padding: 100px 0 194px 0;
  background: linear-gradient(135.38deg, #1F6583 49.32%, #028CCF 93.69%);
}

.background {
  position: relative;
}

.circle {
  position: absolute;
  top: -180px;
  right: -662px;
  z-index: 3;
  -webkit-animation: circle 30s linear infinite;
          animation: circle 30s linear infinite;
}

@-webkit-keyframes circle {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes circle {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
.photo {
  position: absolute;
  top: -60px;
  right: -165px;
  z-index: 4;
}

.speaker__about {
  position: relative;
  padding: 35px;
  width: 591px;
  height: 731px;
  border: 1px solid #FFFFFF;
  border-radius: 22px;
  z-index: 1;
}

.speaker__body {
  margin-bottom: 35px;
}
.speaker__body .text {
  font-weight: 400;
}

.speaker__item {
  margin-bottom: 25px;
  padding: 25px 0 25px 25px;
  width: 521px;
  height: 153px;
  border: 1px solid #FFFFFF;
  border-radius: 22px;
}

.speaker__yellow {
  padding: 25px 0 25px 25px;
  width: 521px;
  height: 183px;
  background: #F9D40E;
  border-radius: 22px;
}
.speaker__yellow .title,
.speaker__yellow .text {
  color: #1F6583;
}
.speaker__yellow .title {
  margin-bottom: 15px;
}

.title {
  margin-bottom: 5px;
  color: #fff;
  font-weight: 700;
  font-size: 36px;
  line-height: 46px;
  letter-spacing: 0.02em;
  text-transform: uppercase;
}

.text {
  color: #fff;
  font-weight: 300;
  font-size: 20px;
  line-height: 25px;
  letter-spacing: 0.02em;
}

.blocks {
  position: relative;
  padding: 100px 60px 86px 60px;
  background: #028CCF;
  z-index: 1;
}

.blocks__body {
  margin-bottom: 52px;
  text-align: center;
}

.blocks__track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.block__item {
  padding: 14px;
  display: -ms-grid;
  display: grid;
  grid-auto-flow: row;
  -ms-grid-rows: minmax(40px, 58px) 20px minmax(566px, 562px);
  -ms-grid-columns: 385px;
      grid-template: minmax(40px, 58px) minmax(566px, 562px)/385px;
  row-gap: 20px;
  width: 412px;
  background: #FBFBFB;
  -webkit-box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.25);
  border-radius: 22px;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}
.block__item:not(:last-child) {
  margin-right: 40px;
}
.block__item:hover {
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
  z-index: 2;
}

.blocks__initem {
  border: 1px solid #1F1F1F;
  border-radius: 22px;
}

.blocks__image {
  padding: 0 0 64% 0;
  position: relative;
}
.blocks__image img {
  position: absolute;
  top: 0;
  left: 0;
  max-width: 384px;
  height: 221px;
  -o-object-fit: cover;
     object-fit: cover;
  pointer-events: none;
}

.blocks__name {
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  text-transform: uppercase;
}

.blocks__list li {
  position: relative;
  padding: 9px 28px 6px 28px;
  color: #262626;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.02em;
}
.blocks__list li::before {
  content: "";
  display: block;
  position: absolute;
  top: 16px;
  left: 12px;
  width: 4px;
  height: 4px;
  background-color: #262626;
  border-radius: 50%;
}
.blocks__list li:not(:last-child) {
  border-bottom: 1px solid rgba(31, 31, 31, 0.1);
}

.blocks__row {
  margin-top: 160px;
  display: -ms-grid;
  display: grid;
  -webkit-column-gap: 146px;
     -moz-column-gap: 146px;
          column-gap: 146px;
  -ms-grid-rows: 1fr;
  -ms-grid-columns: minmax(265px, 362px) 146px minmax(230px, 303px);
      grid-template: 1fr/minmax(265px, 362px) minmax(230px, 303px);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.blocks__row .btn {
  margin: 0;
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
}

.review {
  position: relative;
  padding: 100px 0;
  text-align: center;
}

.review__title {
  margin-bottom: 50px;
  color: #01405D;
  font-weight: 700;
  font-size: 48px;
  line-height: 61px;
  letter-spacing: 0.02em;
  text-transform: uppercase;
}

.review__bg {
  z-index: 6;
}
.review__bg img {
  width: 718px;
  height: 718px;
  -webkit-animation: circle 30s linear infinite;
          animation: circle 30s linear infinite;
}
.review__bg .bg__one {
  position: absolute;
  top: 44px;
  left: -200px;
}
.review__bg .bg__two {
  position: absolute;
  top: -200px;
  right: -200px;
}

.review__row {
  position: relative;
  margin: 0 auto;
  width: 1140px;
  height: 567px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -ms-touch-action: pan-y;
      touch-action: pan-y;
}

.review__track {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  z-index: 7;
}

.review__item {
  margin-right: 40px;
  width: 413px;
  height: 567px;
  background: #fff;
  -webkit-box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.13);
          box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.13);
  border-radius: 22px;
}
.review__item:nth-child(3n+1) {
  border: 15px solid #01405D;
}
.review__item:nth-child(3n+2) {
  border: 15px solid #FED917;
}
.review__item:nth-child(3n+3) {
  border: 15px solid #FF5E5E;
}
.review__item .review__image img {
  width: 331px;
  height: 536px;
  border-radius: 22px;
}

.slider-arrows {
  display: none;
}

.next,
.current,
.prev {
  margin: 0 10px;
  width: 16px;
  height: 16px;
  background: #333;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  -webkit-transition: 0.3s all ease;
  transition: 0.3s all ease;
}

.training {
  padding: 80px 0;
  position: relative;
  background: #028CCF;
}

.training__thanks {
  position: absolute;
  top: 80px;
  left: 47.5%;
  margin: 0 50px;
  padding: 80px 56px 54px 56px;
  display: none;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  width: 1340px;
  height: 724px;
  background: #FFFFFF;
  border-radius: 22.5965px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}
.training__thanks .training__thanks-image {
  position: relative;
  margin: 0 auto;
}
.training__thanks .training__thanks-image::before {
  content: "";
  display: block;
  position: absolute;
  top: 41px;
  left: 46px;
  width: 41px;
  height: 48px;
  background: url("../img/pop-up/submitgreen.svg");
}
.training__thanks .training__thanks-text {
  margin: 50px 0 100px 0;
  font-weight: 700;
  font-size: 36px;
  line-height: 46px;
  letter-spacing: 0.02em;
  color: #008DD2;
}

.training__form {
  margin: 0 50px;
  padding: 30px 56px 54px 56px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-width: 78%;
  height: 724px;
  background: #fff;
  border-radius: 22.5965px;
}

.training__title {
  margin-bottom: 70px;
  font-weight: 700;
  font-size: 50px;
  line-height: 65px;
  letter-spacing: 0.02em;
  color: #008DD2;
}

.training__item {
  display: -ms-grid;
  display: grid;
  -webkit-column-gap: 28px;
     -moz-column-gap: 28px;
          column-gap: 28px;
  -ms-grid-rows: 1fr;
  -ms-grid-columns: 58px 28px 1fr;
      grid-template: 1fr/58px 1fr;
}

.training__item-image img {
  margin: 0 auto;
  display: block;
}

.training__item-text {
  margin-bottom: 33px;
}

.training__subtitle {
  font-weight: 500;
  font-size: 28px;
  line-height: 36px;
  letter-spacing: 0.02em;
  color: #008DD2;
}

.training__text {
  font-size: 22px;
  line-height: 29px;
  color: #1D6280;
}

.form {
  padding-left: 35px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}
.form .form__text {
  margin-bottom: 4px;
  font-size: 22px;
  line-height: 29px;
  color: #008DD2;
}
.form .input {
  margin-bottom: 21px;
  padding: 0 21px;
  width: 375px;
  height: 73px;
  font-size: 19px;
  line-height: 25px;
  border: 2px solid #008DD2;
  border-radius: 14px;
}
.form button {
  margin: 14px 0 21px 0;
  display: block;
  width: 375px;
  height: 88px;
  font-weight: 700;
  font-size: 22px;
  line-height: 29px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #FBFBFB;
  background: #FF5E5E;
  -webkit-box-shadow: 0 7px 21px rgba(237, 76, 76, 0.3);
          box-shadow: 0 7px 21px rgba(237, 76, 76, 0.3);
  border-radius: 11px;
  -webkit-transition: 0.3s all ease 0s;
  transition: 0.3s all ease 0s;
}
.form button:hover {
  background: #FED917;
  -webkit-box-shadow: inset 0 7px 21px rgba(255, 179, 56, 0.3);
          box-shadow: inset 0 7px 21px rgba(255, 179, 56, 0.3);
}
.form .input.error {
  -webkit-box-shadow: 0px 0px 10px #ff5151;
          box-shadow: 0px 0px 10px #ff5151;
}

.custom-checkbox {
  display: none;
}
.custom-checkbox:checked + .custom-label::after {
  -webkit-transform: scale(1);
          transform: scale(1);
}

.custom-label {
  position: relative;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0.01em;
  color: #3966FF;
  cursor: pointer;
}
.custom-label a {
  color: #3966FF;
  text-decoration: underline;
}
.custom-label::before {
  margin-right: 21px;
  content: "";
  -ms-flex-item-align: start;
      align-self: flex-start;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 32px;
          flex: 0 0 32px;
  height: 32px;
  border: 2px solid #008DD2;
  border-radius: 7px;
}
.custom-label::after {
  content: "";
  position: absolute;
  top: 4px;
  left: 6px;
  width: 20px;
  height: 22px;
  background: url("../img/pop-up/submit.svg") no-repeat;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: -webkit-transform 0.1s ease 0s;
  transition: -webkit-transform 0.1s ease 0s;
  transition: transform 0.1s ease 0s;
  transition: transform 0.1s ease 0s, -webkit-transform 0.1s ease 0s;
}

.custom-checkbox.error ~ .custom-label::before {
  -webkit-box-shadow: 0 0 15px #ff5151;
          box-shadow: 0 0 15px #ff5151;
}

.footer {
  padding: 50px 0 41px 0;
}

.footer__body {
  display: -ms-grid;
  display: grid;
  -webkit-column-gap: 64px;
     -moz-column-gap: 64px;
          column-gap: 64px;
  row-gap: 30px;
  -ms-grid-rows: minmax(51px, 91px) 30px 1fr 30px 20px;
  -ms-grid-columns: minmax(125px, 254px) 64px minmax(310px, 678px) 64px 173px;
      grid-template: minmax(51px, 91px) 1fr 20px/minmax(125px, 254px) minmax(310px, 678px) 173px;
}

.footer__contacts {
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3/4;
}

.footer__link {
  font-size: 16px;
  line-height: 20px;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: #008DD2;
}
.footer__link:not(:last-child) {
  margin-right: 58px;
}

.footer__text {
  font-size: 16px;
  line-height: 20px;
  color: #345F74;
}

.org {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
}

.copy {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3/4;
  font-size: 14px;
}

.footer__links {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
}

@media (max-height: 800px) {
  .header {
    padding: 20px 0;
  }

  .about__top {
    -ms-grid-rows: 642px;
    -ms-grid-columns: (1fr)[2];
        grid-template: 642px/repeat(2, 1fr);
  }
  .about__top .about__body {
    top: 20%;
  }

  .about-bg .about__three {
    top: -41px;
  }

  .benefits__items {
    margin-bottom: 35px;
  }

  .blocks {
    padding: 60px 60px 86px 60px;
  }
  .blocks .block__item {
    -ms-grid-rows: 40px 562px;
    -ms-grid-columns: 339px;
        grid-template: 40px 562px/339px;
  }
  .blocks .block__item:hover {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  .blocks .blocks__row {
    margin-top: 40px;
  }

  .blocks__body {
    margin-bottom: 40px;
  }

  .review {
    padding: 60px 0 80px 0;
  }
}
@media (max-height: 800px) and (max-width: 1198px) {
  .about .about__top {
    -ms-grid-rows: 573px;
    -ms-grid-columns: (1fr)[2];
        grid-template: 573px/repeat(2, 1fr);
  }
  .about .about-bg .about__one {
    top: 84%;
  }
  .about .about-bg .about__three {
    top: 140px;
    right: 64px;
  }
  .about .about-bg .about__four {
    top: 35%;
  }
  .about .about-bg .about__five {
    top: 33%;
  }

  .about__bot .benefits__items {
    margin-left: 180px;
  }

  .speaker .speaker__about {
    margin-left: 160px;
  }
  .speaker .photo {
    right: 140px;
  }

  .review .review__track {
    padding: 0;
  }

  .footer .footer__body {
    margin: 0;
  }
}
@media (max-height: 800px) and (max-width: 1024px) {
  .about__bot .benefits__items {
    margin: 0 0 0 124px;
  }
}
@media (max-width: 2715px) {
  .about__body {
    left: 29.5%;
  }
}
@media (max-width: 2560px) {
  .about__body {
    position: absolute;
    top: 26%;
    left: 28.5%;
  }
}
@media (max-width: 2400px) {
  .about__body {
    position: absolute;
    top: 26%;
    left: 20.5%;
  }
}
@media (max-width: 1900px) {
  .about__speaker {
    position: absolute;
    bottom: 14%;
    right: 28.5%;
  }
}
@media (max-width: 1810px) {
  .about__body {
    left: 19%;
  }
}
@media (max-width: 1790px) {
  .about__body {
    left: 17.5%;
  }
}
@media (max-width: 1790px) {
  .block__item {
    padding: 10px;
    display: -ms-grid;
    display: grid;
    grid-auto-flow: row;
    -ms-grid-rows: minmax(40px, 58px) 20px minmax(566px, 562px);
    -ms-grid-columns: 340px;
        grid-template: minmax(40px, 58px) minmax(566px, 562px)/340px;
    row-gap: 20px;
    width: 362px;
  }
  .block__item:not(:last-child) {
    margin-right: 20px;
  }

  .blocks__name {
    padding: 4px 0 0 4px;
    font-size: 22px;
    line-height: 26px;
  }

  .blocks__image img {
    width: 338px;
    height: 194px;
  }
}
@media (max-width: 1540px) {
  .header__body {
    -webkit-column-gap: 88px;
       -moz-column-gap: 88px;
            column-gap: 88px;
  }

  .about__body {
    left: 14%;
  }

  .about-bg .about__three {
    right: 26px;
  }

  .speaker {
    padding: 75px 0 194px 0;
  }

  .speaker__about {
    margin-left: 40px;
  }

  .photo {
    right: -220px;
  }

  .circle {
    top: -136px;
    right: -712px;
  }

  .blocks__items {
    position: relative;
    margin: 0 auto;
    width: 1140px;
    height: 664px;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    -ms-touch-action: pan-y;
        touch-action: pan-y;
  }

  .blocks__slider {
    width: 1140px;
    height: 664px;
  }
  .blocks__slider .grab {
    cursor: -webkit-grab;
    cursor: grab;
  }
  .blocks__slider .grabbing {
    cursor: -webkit-grabbing;
    cursor: grabbing;
  }

  .blocks__row {
    margin-top: 70px;
    -webkit-column-gap: 60px;
       -moz-column-gap: 60px;
            column-gap: 60px;
  }

  .review__bg .bg__one {
    left: -359px;
  }
  .review__bg .bg__two {
    right: -359px;
  }

  .training__form {
    margin: 0 12px;
    padding: 30px 26px 54px 46px;
  }

  .form {
    padding-left: 30px;
  }

  .footer__body {
    margin: 0 53px;
  }
}
@media (max-width: 1480px) {
  .blocks__body {
    text-align: left;
  }

  .blocks__items {
    width: 1500px;
  }

  .blocks__slider {
    width: 1500px;
  }
}
@media (max-width: 1280px) {
  .benefits__items {
    margin: 0 0 50px 60px;
  }

  .slider-arrows {
    margin-top: 40px;
    display: block;
    text-align: center;
  }

  .review__track {
    padding: 0 0 0 36px;
  }

  .training__thanks {
    margin: 0 32px;
    width: 1212px;
  }
}
@media (max-width: 1198px) {
  .logo img {
    width: 125px;
    height: 51px;
  }

  .header__body {
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: minmax(71px, 91px);
    -ms-grid-columns: 219px 1fr 173px;
        grid-template: minmax(71px, 91px)/219px 1fr 173px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .header__items {
    display: none;
  }

  .about__top {
    padding: 0;
    -ms-grid-rows: 482px;
    -ms-grid-columns: (1fr)[2];
        grid-template: 482px/repeat(2, 1fr);
  }

  .about__body {
    top: 10%;
    left: 8%;
    width: 346px;
  }
  .about__body .about__title {
    font-size: 36px;
  }
  .about__body .about__subtitle {
    font-size: 20px;
    line-height: 25px;
  }
  .about__body .about__text {
    font-size: 16px;
    line-height: 21px;
  }
  .about__body .btn {
    padding: 22px 30px;
    width: 230px;
    font-size: 16px;
    line-height: 20px;
  }

  .about__speaker {
    padding: 22px;
    width: 262px;
    height: 91px;
  }

  .about-bg .about__one {
    top: 81%;
    right: 0;
    width: 95px;
    height: 95px;
  }
  .about-bg .about__three {
    top: 48px;
    right: 60px;
    width: 340px;
    height: 435px;
  }
  .about-bg .about__four {
    top: 23%;
    right: 0;
    width: 400px;
    height: 82px;
  }
  .about-bg .about__five {
    top: 20%;
    right: 0;
    width: 359px;
    height: 418px;
  }

  .benefits__items {
    margin: 0 0 50px 70px;
    -webkit-column-gap: 4px;
       -moz-column-gap: 4px;
            column-gap: 4px;
    row-gap: 42px;
    grid-template-columns: repeat(auto-fit, minmax(195px, 260px));
  }
  .benefits__items .benefits__item {
    margin: -20px 0 0 0;
  }
  .benefits__items .benefits__text {
    padding: 15px 22px;
    width: 250px;
    height: 70px;
    font-size: 14px;
    font-weight: 300;
    line-height: 20px;
  }

  .benefits__image {
    padding: 0 0 62% 0;
  }
  .benefits__image img {
    margin-left: -6px;
    width: 260px;
    height: 223px;
  }

  .certificate {
    padding: 50px 30px;
    max-width: 780px;
    height: 335px;
  }
  .certificate .certificate__title {
    font-size: 20px;
    line-height: 25px;
  }
  .certificate .certificate__text {
    font-size: 16px;
    line-height: 20px;
  }
  .certificate .btn {
    margin-top: 25px;
    width: 230px;
  }

  .certificate__image img {
    width: 270px;
    height: 208px;
    border-radius: 10px;
  }

  .speaker {
    padding: 35px 0 40px 0;
  }

  .speaker__about {
    padding: 15px 6px 8px 6px;
    width: 310px;
    height: 489px;
    text-align: center;
  }
  .speaker__about .speaker__body {
    margin-bottom: 25px;
  }
  .speaker__about .title {
    font-size: 20px;
    line-height: 25px;
  }
  .speaker__about .text {
    font-size: 16px;
    line-height: 20px;
  }

  .speaker__item {
    margin-bottom: 15px;
    padding: 12px;
    width: 297px;
    height: 107px;
    text-align: left;
  }
  .speaker__item .text {
    font-size: 14px;
    line-height: 18px;
  }

  .speaker__yellow {
    padding: 20px 12px;
    width: 297px;
    height: 133px;
    text-align: left;
  }
  .speaker__yellow .title {
    margin-bottom: 5px;
  }
  .speaker__yellow .text {
    font-size: 14px;
    line-height: 18px;
  }

  .photo {
    top: 43px;
    right: 0;
  }
  .photo img {
    width: 418px;
    height: 493px;
  }

  .circle {
    top: -38px;
    right: -208px;
  }
  .circle img {
    width: 536px;
    height: 536px;
  }

  .review {
    padding: 50px 0 100px 0;
  }

  .review__title {
    font-size: 36px;
  }

  .review__bg .bg__one {
    top: 20%;
    left: -180px;
    width: 367px;
    height: 367px;
  }
  .review__bg .bg__two {
    top: -60px;
    right: -180px;
    width: 367px;
    height: 367px;
  }

  .training__thanks {
    margin: 0 27px;
    width: 1090px;
    height: 728px;
  }

  .training__form {
    padding: 36px 15px 36px 15px;
    height: 728px;
  }
  .training__form .training__body {
    margin-right: 20px;
  }
  .training__form .training__title {
    margin-bottom: 36px;
    font-size: 36px;
  }
  .training__form .training__subtitle {
    font-size: 22px;
  }

  .form {
    padding-top: 40px;
  }
  .form .input {
    width: 350px;
    height: 60px;
    font-size: 17px;
  }
  .form button {
    margin: 4px 0 24px 0;
    width: 350px;
    height: 72px;
  }
}
@media (max-width: 1152px) {
  .training__thanks {
    width: 1046px;
  }
}
@media (max-width: 1112px) {
  .training__thanks {
    width: 1008px;
  }
}
@media (max-width: 1024px) {
  .benefits__items {
    margin: 0 0 50px 130px;
  }

  .training__thanks {
    width: 926px;
  }
}
@media (max-width: 997px) {
  .header__body {
    -webkit-column-gap: 32px;
       -moz-column-gap: 32px;
            column-gap: 32px;
  }

  .benefits__items {
    margin: 0 0 50px 70px;
  }

  .footer__body {
    -webkit-column-gap: 52px;
       -moz-column-gap: 52px;
            column-gap: 52px;
  }
}
@media (max-width: 912px) {
  .training__thanks {
    width: 822px;
  }
}
@media (max-width: 900px) {
  .training__thanks {
    width: 812px;
  }
}
@media (max-width: 870px) {
  .training__thanks {
    width: 764px;
  }
}
@media (max-width: 832px) {
  .training__thanks {
    margin: 0 17px;
    width: 742px;
  }
}
@media (max-width: 820px) {
  .about__body {
    top: 7%;
    left: 3%;
  }

  .about-bg .about__three {
    right: 30px;
  }

  .benefits__items {
    margin: 0 0 50px 16px;
  }

  .blocks__slider {
    width: 1266px;
  }

  .blocks__track {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    width: 1266px;
  }

  .block__item:not(:last-child) {
    margin-right: 30px;
  }

  .training__thanks {
    padding: 80px 15px 56px 15px;
    margin: 0 20px;
    width: 610px;
    height: 1024px;
  }

  .training__form {
    padding: 24px 15px 36px 15px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 1024px;
  }
  .training__form .form {
    padding: 0;
    margin: -40px 0 0 70px;
  }
  .training__form .training__title {
    margin-bottom: 25px;
    font-size: 28px;
    line-height: 54px;
    text-align: center;
  }
  .training__form .training__subtitle {
    font-size: 22px;
    line-height: 30px;
  }

  .footer__body {
    -ms-grid-rows: minmax(51px, 91px) 1fr 20px;
    -ms-grid-columns: minmax(125px, 521px) 10px minmax(310px, 421) 10px 114px;
        grid-template: minmax(51px, 91px) 1fr 20px/minmax(125px, 521px) minmax(310px, 421) 114px;
    -webkit-column-gap: 10px;
       -moz-column-gap: 10px;
            column-gap: 10px;
  }
}
@media (max-width: 780px) {
  .header__body {
    -webkit-column-gap: 0;
       -moz-column-gap: 0;
            column-gap: 0;
  }

  .benefits__items {
    margin: 0 0 30px 55px;
    grid-template-columns: repeat(auto-fit, minmax(195px, 220px));
  }
  .benefits__items .benefits__text {
    width: 210px;
  }

  .benefits__image {
    padding: 0 0 53% 0;
  }
  .benefits__image img {
    width: 220px;
    height: 183px;
  }

  .certificate {
    padding: 35px 30px;
    max-width: 670px;
    height: 335px;
  }
  .certificate .certificate__body {
    margin-right: 82px;
  }

  .certificate__image img {
    width: 240px;
    height: 178px;
  }
}
@media (max-width: 720px) {
  .about__speaker {
    right: 25%;
  }

  .benefits__items {
    margin: 0 0 100px 220px;
    -webkit-column-gap: 4px;
       -moz-column-gap: 4px;
            column-gap: 4px;
    row-gap: 88px;
    grid-template-columns: repeat(auto-fit, minmax(195px, 305px));
  }
  .benefits__items .benefits__item {
    margin: -30px 0 -45px 0;
    -ms-grid-rows: auto minmax(70px, 80px);
    -ms-grid-columns: 356px;
        grid-template: auto minmax(70px, 80px)/356px;
  }
  .benefits__items .benefits__text {
    padding: 17px 22px;
    width: 295px;
    height: 80px;
    font-size: 16px;
    font-weight: 300;
    line-height: 20px;
    text-align: center;
  }

  .benefits__image {
    padding: 0 0 75% 0;
  }
  .benefits__image img {
    margin-left: -6px;
    width: 305px;
    height: 268px;
  }
}
@media (max-width: 670px) {
  .about__top {
    -ms-grid-rows: 389px 400px;
    -ms-grid-columns: 1fr;
        grid-template: 389px 400px/1fr;
  }
  .about__top .about-bg .about__speaker {
    right: 38%;
  }
  .about__top .about-bg .about__one {
    top: 77%;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
  }
  .about__top .about-bg .about__three {
    top: -34px;
    right: -28px;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
  }
  .about__top .about-bg .about__four {
    top: 7%;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
  }
  .about__top .about-bg .about__five {
    top: 3%;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
  }

  .certificate {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    max-width: 460px;
    height: 562px;
  }
  .certificate .certificate__body {
    margin: 0;
  }
  .certificate .certificate__body .btn {
    margin: 30px auto;
  }

  .benefits__items {
    margin: 0 0 100px 16%;
  }

  .speaker {
    padding: 0 0 200px 0;
  }
  .speaker .speaker__about {
    margin-left: 3%;
  }

  .photo {
    top: 203px;
    right: -112px;
  }

  .circle {
    top: 416px;
    right: 452px;
    z-index: 0;
  }

  .blocks {
    position: relative;
    padding: 50px 0 70px 30px;
  }
  .blocks .blocks__row {
    margin-right: 70px;
    row-gap: 30px;
    -ms-grid-rows: 1fr 30px 63px;
    -ms-grid-columns: 1fr;
        grid-template: 1fr 63px/1fr;
    text-align: center;
  }
  .blocks .blocks__row .btn {
    margin: 0 auto;
  }

  .review {
    text-align: left;
  }
  .review .review__title {
    margin: 0 0 50px 36px;
  }

  .review__bg .bg__one {
    top: 5%;
    left: 60%;
    width: 485px;
    height: 485px;
  }
  .review__bg .bg__two {
    display: none;
  }

  .training__thanks {
    margin: 0 14px;
    width: 524px;
  }

  .training__form .training__subtitle,
.training__form .training__text {
    font-size: 18px;
    line-height: 25px;
  }
  .training__form .form {
    margin: -16% 0 0 0;
  }

  .footer__body {
    margin: 0 10px;
    -ms-grid-rows: 51px 46px 36px 10px;
    -ms-grid-columns: 245px 0 1fr 0 173px;
        grid-template: 51px 46px 36px 10px/245px 1fr 173px;
    -webkit-column-gap: 0;
       -moz-column-gap: 0;
            column-gap: 0;
  }
  .footer__body .org {
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    grid-row: 3/4;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
  }
  .footer__body .footer__links {
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
  }
  .footer__body .copy {
    -ms-grid-row: 4;
    -ms-grid-row-span: 1;
    grid-row: 4/5;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
  }
}
@media (max-width: 570px) {
  .blocks__items {
    width: 1700px;
  }

  .blocks__slider {
    width: 1700px;
  }

  .block__item {
    -ms-grid-rows: minmax(40px, 58px) minmax(566px, 562px);
    -ms-grid-columns: 366px;
        grid-template: minmax(40px, 58px) minmax(566px, 562px)/366px;
    width: 395px;
  }

  .blocks__image img {
    max-width: 364px;
    height: 210px;
  }

  .training__thanks {
    margin: 0 8px;
    width: 460px;
  }
  .training__thanks .training__thanks-text {
    font-size: 28px;
    line-height: 36px;
  }
}
@media (max-width: 540px) {
  .training__thanks {
    width: 430px;
  }
}
@media (max-width: 500px) {
  .blocks__items {
    width: 1740px;
  }

  .blocks__slider {
    width: 1740px;
  }

  .block__item {
    margin-right: 40px;
  }

  .training__thanks {
    margin: 0 8px;
    width: 394px;
  }
}
@media (max-width: 480px) {
  .blocks__items {
    width: 1360px;
    height: 722px;
  }

  .blocks__slider {
    width: 1360px;
    height: 722px;
  }

  .block__item {
    margin-right: 30px;
    -ms-grid-rows: minmax(40px, 58px) minmax(566px, 616px);
    -ms-grid-columns: 282px;
        grid-template: minmax(40px, 58px) minmax(566px, 616px)/282px;
    width: 310px;
  }

  .blocks__image img {
    max-width: 282px;
    height: 162px;
  }

  .blocks__name {
    padding-left: 4px;
    font-size: 20px;
    line-height: 24px;
  }

  .review__track {
    padding-left: 34px;
  }

  .training__thanks {
    width: 388px;
    height: 1024px;
  }
}
@media (max-width: 440px) {
  .about__top .about-bg .about__three {
    right: -96px;
  }
  .about__top .about-bg .about__four {
    right: -190px;
    width: 562px;
    height: 82px;
  }
  .about__top .about-bg .about__five {
    right: -124px;
    width: 457px;
    height: 456px;
  }

  .certificate {
    max-width: 420px;
    height: 620px;
  }
  .certificate .certificate__image img {
    width: 334px;
    height: 243px;
  }

  .scale {
    -webkit-transform: scale(1.25);
            transform: scale(1.25);
  }

  .circle {
    top: 500px;
    right: 170px;
  }

  .blocks {
    padding: 50px 0 70px 12px;
  }
  .blocks .blocks__row {
    margin: 90px 40px 0 0;
  }

  .review__track {
    padding-left: 15px;
  }

  .training__thanks {
    width: 363px;
  }
}
@media (max-width: 428px) {
  .training__form {
    margin: 0 12px;
    width: 400px;
    height: 1054px;
  }

  .training__thanks {
    width: 388px;
    height: 1054px;
  }

  .review__track {
    padding-left: 10px;
  }
}
@media (max-width: 414px) {
  .about__speaker {
    margin-right: -80px;
  }

  .benefits__items {
    margin: 0 0 100px 14%;
  }

  .certificate {
    max-width: 360px;
  }

  .speaker {
    padding-bottom: 322px;
  }

  .photo {
    top: 325px;
    right: -136px;
  }

  .circle {
    top: 544px;
    right: 136px;
  }

  .review__row {
    width: 1219px;
  }

  .review .review__title {
    margin: 0 0 30px 36px;
  }

  .review__track {
    padding-left: 32px;
  }

  .review__item {
    margin-right: 40px;
    width: 361px;
  }
  .review__item .review__image img {
    width: 320px;
    height: 537px;
  }

  .training__thanks {
    margin: 0 5px;
    width: 340px;
    height: 1084px;
  }

  .training__form {
    margin: 0 32px;
    width: 340px;
    height: 1084px;
  }
  .training__form .training__title {
    font-size: 26px;
    line-height: 30px;
  }
  .training__form .training__subtitle {
    font-size: 16px;
    line-height: 22px;
  }

  .form .input {
    width: 320px;
  }
  .form button {
    width: 320px;
  }
}
@media (max-width: 396px) {
  .training__thanks {
    margin: 0 15px;
    width: 340px;
  }

  .review .review__title {
    margin: 0 0 30px 19px;
  }

  .review__track {
    padding-left: 15px;
  }
}
@media (max-width: 375px) {
  .benefits__items {
    margin: 0 0 100px 11%;
  }

  .scale {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }

  .review__row {
    width: 1212px;
  }

  .review .review__title {
    margin: 0 0 30px 9px;
  }

  .review__track {
    padding-left: 5px;
  }

  .review .review__title {
    margin: 0 0 30px 16px;
  }

  .review__item {
    margin-right: 51px;
  }

  .training__thanks {
    margin: 0 8px;
  }

  .training__form {
    margin: 0 16px;
  }
}