@charset "UTF-8";
/* reset */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

input[type=text]::-ms-clear {
  display: none;
  width: 0;
  height: 0;
}

input[type=text]::-ms-reveal {
  display: none;
  width: 0;
  height: 0;
}

input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {
  display: none;
}

body {
  font-size: 1em;
  font-family: "Inter", sans-serif;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  overflow: hidden;
}

.content {
  flex: 1 1 auto;
}

.container {
  margin: 0px auto;
  max-width: 1140px;
}

.cookie {
  position: fixed;
  top: 395px;
  left: 18.5%;
  margin: 0 auto;
  padding: 48px 74px 0 38px;
  max-width: 1160px;
  height: 213px;
  background: #FFFFFF;
  border-radius: 22px;
  z-index: 10;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.25);
  -webkit-animation: frombottom 0.7s forwards;
  animation: frombottom 0.7s forwards;
}

@-webkit-keyframes frombottom {
  0% {
    top: 705px;
  }
  100% {
    top: 575px;
  }
}
@keyframes frombottom {
  0% {
    top: 705px;
  }
  100% {
    top: 575px;
  }
}
.is-show {
  display: none;
}

.cookie-flex {
  display: flex;
}

.cookie-text {
  margin: 5px 140px 0 0;
  color: #02415E;
  font-size: 18px;
  line-height: 22px;
}

.cookie-btns .sub {
  margin: 0 20px 20px 0;
}

.cookie-btns button {
  width: 118px;
  height: 45px;
  color: #fff;
  background: #01405D;
  border-radius: 13px;
  transition: 0.3s all ease;
}

.cookie-btns button:hover {
  background-color: #008DD2;
}

.header {
  padding: 6px 0 8px 0;
  background-color: white;
  position: fixed;
  top: 0;
  z-index: 100;
  width: 100%;
  display: block;
}

.header__none {
  display: none;
}

.logo img {
  pointer-events: none;
}

.header__body {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: minmax(71px, 91px);
  -ms-grid-columns: 219px 20px 1fr 20px 173px;
  grid-template: minmax(71px, 91px)/219px 1fr 173px;
  -moz-column-gap: 20px;
  column-gap: 20px;
  align-items: center;
}

.header__contacts {
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3/4;
}

.contact__image {
  margin-right: 15px;
  display: inline-block;
}

.contact__image img {
  display: inline;
  width: 40px;
  height: 40px;
}

.header__items {
  display: flex;
  -ms-grid-column-align: center;
  justify-self: center;
}

.item__image img {
  margin: 4px 14px 0 0;
  float: left;
}

.header__item {
  padding: 9px 0 9px 14px;
  width: 314px;
  height: 58px;
  background: linear-gradient(90deg, rgb(0, 141, 210) 0%, rgb(215, 237, 248) 53%, rgb(255, 255, 255) 85%);
  border-radius: 22px;
}

.header__item.item__title,
.header__item .item__text {
  display: inline;
}

.item__title {
  font-weight: 500;
  line-height: 20px;
}

.btn {
  margin-top: 67px;
  padding: 22px 0;
  display: block;
  width: 303px;
  height: 63px;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #FBFBFB;
  background: #FF5E5E;
  box-shadow: 0px 5px 15px rgba(237, 76, 76, 0.3);
  border-radius: 8px;
  transition: 0.3s all ease;
}

.btn:hover {
  background: #FED917;
  transform: rotate(2deg);
}

.about__inst02 {
  padding-left: 45px;
}

.about__top {
  margin-top: 105px;
  position: relative;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 718px;
  -ms-grid-columns: 1fr [2];
  grid-template: 718px/repeat(2, 1fr);
  background: rgb(28, 112, 155);
  background: linear-gradient(180deg, rgb(28, 112, 155) 0%, rgb(89, 174, 218) 53%);
  z-index: 0;
}

.competition {
  font-size: 36px;
  line-height: 46px;
}

.cr-tree01 {
  position: absolute;
  bottom: 0;
  left: -5px;
}

.cr-tree02 {
  position: absolute;
  bottom: -5px;
  right: -5px;
}



.about-bg .about__one {
  position: absolute;
  bottom: -1px;
  right: 0;
  z-index: 4;
  pointer-events: none;
}

.about-bg .about__three {
  position: absolute;
  bottom: -1px;
  right: 45px;
  z-index: 5;
  pointer-events: none;
}

.about-bg .about__four {
  position: absolute;
  top: 73px;
  right: 15px;
  z-index: 3;
  pointer-events: none;
}

.about-bg .about__five {
  position: absolute;
  bottom: -84px;
  right: 0;
  width: 730px;
  height: 730px;
  z-index: 3;
  pointer-events: none;
}

.about-bg .about__six {
  position: absolute;
  bottom: 104px;
  left: 280px;
  z-index: 3;
  pointer-events: none;
}

.about__body {
  position: absolute;
  top: 7%;
  left: 22.5%;
  width: 628px;
  color: #fff;
  z-index: 5;
}

.about__body span {
  color: #F9D40F;
}

.about__body .btn {
  margin: 15px 40px 0 0;
  display: inline-block;
  /* убрать позже */
  /* margin: 15px 0 0 0; */
}

.about__title {
  margin-bottom: 6px;
  font-weight: 700;
  font-size: 46px;
  line-height: 56px;
  text-transform: uppercase;
}

.about__subtitle {
  font-weight: 700;
  font-size: 30px;
  line-height: 46px;
  text-transform: uppercase;
}

.about__inst {
  margin-bottom: 2px;
  font-size: 30px;
  line-height: 48px;
  letter-spacing: 0.02em;
}

.about__inst span {
  font-weight: 700;
  text-transform: uppercase;
}

.about__text {
  position: relative;
  font-size: 20px;
  line-height: 46px;
  letter-spacing: 0.01em;
}

.about__text span {
  font-weight: 500;
}

.about__text li {
  position: relative;
  padding-left: 45px;
}

.about__text > li::before {
  content: "";
  position: absolute;
  top: 20px;
  left: 0;
  width: 30px;
  height: 4px;
  background: #F9D40F;
}

.about__speaker {
  position: absolute;
  bottom: 8%;
  right: 23.5%;
  padding: 26px 30px;
  width: 282px;
  height: 100px;
  color: #fff;
  background: linear-gradient(90deg, rgba(0, 0, 0, 0.1) 49%, rgba(255, 255, 255, 0.1) 99%);
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 16px;
  z-index: 6;
}

.about__speaker h2 {
  margin-bottom: 3px;
  font-weight: 700;
  font-size: 20px;
  line-height: 25px;
  letter-spacing: 0.02em;
}

.about__speaker p {
  font-size: 14px;
  line-height: 18px;
}

.about__bot {
  position: relative;
  padding-bottom: 100px;
  background: linear-gradient(180deg, #003E5B 0%, #1F6583 100%);
  z-index: 3;
}

.benefits__items {
  margin-bottom: 50px;
  display: -ms-grid;
  display: grid;
  -moz-column-gap: 30px;
  column-gap: 30px;
  row-gap: 40px;
  grid-template-columns: repeat(auto-fit, minmax(195px, 360px));
  z-index: 5;
}

.benefits__item {
  margin: -30px 0 0 0;
  display: -ms-grid;
  display: grid;
  grid-auto-flow: row;
  -ms-grid-rows: auto minmax(70px, 109px);
  -ms-grid-columns: 360px;
  grid-template: auto minmax(70px, 109px)/360px;
  z-index: 5;
}

.benefits__image {
  padding: 0 0 90% 0;
  position: relative;
}

.benefits__image img {
  position: absolute;
  top: 0;
  left: 0;
  width: 360px;
  height: 323px;
  -o-object-fit: cover;
  object-fit: cover;
}

.benefits__text {
  padding: 23px 45px;
  width: 360px;
  height: 109px;
  color: #fff;
  font-size: 1.5rem;
  line-height: 31px;
  letter-spacing: 0.02em;
  background: #1E6381;
  box-shadow: 0px 5px 18px rgba(255, 255, 255, 0.08);
  border-radius: 22px;
}

.certificate {
  margin: 0 auto;
  padding: 83px 60px;
  display: flex;
  width: 1160px;
  height: 500px;
  background: #1E6482;
  box-shadow: 5px 5px 15px rgba(255, 255, 255, 0.05);
  border-radius: 22px;
  border: 1px solid #fff;
}

.certificate__body {
  margin-right: 116px;
}

.certificate__title {
  margin: 19px 0 25px 0;
  color: #fff;
  font-weight: 700;
  font-size: 2.25rem;
  line-height: 43px;
  letter-spacing: 0.02em;
}

.certificate__text {
  color: #fff;
  font-size: 20px;
  line-height: 25px;
  letter-spacing: 0.02em;
}

.certificate__image {
  -ms-grid-row-align: center;
  align-self: center;
}

.certificate__image img {
  width: 472px;
  height: 333.54px;
  border-radius: 22px;
  transition: transform 0.4s ease 0s;
}

.scale {
  box-shadow: 0px 5px 14px rgba(0, 0, 0, 0.4);
  transform: scale(1.65);
}

.speaker {
  position: relative;
  padding: 100px 0;
  background: linear-gradient(135.38deg, #1F6583 49.32%, #028CCF 93.69%);
}

.background {
  position: relative;
}

.circle {
  position: absolute;
  top: -206px;
  right: -800px;
  z-index: 3;
  -webkit-animation: circle 30s linear infinite;
  animation: circle 30s linear infinite;
  pointer-events: none;
}

@-webkit-keyframes circle {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes circle {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.photo {
  position: absolute;
  top: 22px;
  right: -46px;
  z-index: 4;
  pointer-events: none;
}

.photo img {
  width: 718px;
  height: 794px;
}

.speaker__about {
  position: relative;
  padding: 32px;
  width: 586px;
  height: 716px;
  border: 1px solid #FFFFFF;
  border-radius: 22px;
  z-index: 1;
}

.speaker__body {
  margin-bottom: 35px;
}

.speaker__body .text {
  font-weight: 400;
}

.speaker__item {
  margin-bottom: 25px;
  padding: 12px 12px 25px 25px;
  width: 521px;
  height: 153px;
  border: 1px solid #FFFFFF;
  border-radius: 22px;
}

.speaker__yellow {
  padding: 52px 0 25px 25px;
  width: 521px;
  height: 183px;
  background: #F9D40E;
  border-radius: 22px;
}

.speaker__yellow .title,
.speaker__yellow .text {
  color: #1F6583;
}

.speaker__yellow .title {
  margin-bottom: 10px;
}

.title {
  color: #fff;
  font-weight: 700;
  font-size: 32px;
  line-height: 46px;
  letter-spacing: 0.02em;
  text-transform: uppercase;
}

.text {
  color: #fff;
  font-weight: 300;
  font-size: 20px;
  line-height: 25px;
  letter-spacing: 0.02em;
}

.blocks {
  position: relative;
  padding: 100px 60px 86px 60px;
  background: rgb(28, 112, 155);
  background: linear-gradient(180deg, rgb(28, 112, 155) 0%, rgb(89, 174, 218) 53%);
  z-index: 1;
}

.blocks__body {
  margin-bottom: 52px;
  text-align: center;
}

.blocks__items {
  display: -ms-grid;
  display: grid;
  gap: 40px;
  grid-template: repeat(auto-fit, 650px)/repeat(2, 560px);
}

.block__item {
  padding: 20px;
  display: -ms-grid;
  display: grid;
  row-gap: 20px;
  -ms-grid-rows: 58px 20px 530px;
  -ms-grid-columns: 520px;
  grid-template: 58px 530px/520px;
  width: 560px;
  height: 650px;
  background: #FBFBFB;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.25);
  border-radius: 22px;
  transform: scale(1);
  transition: transform 0.3s ease;
}

.block__item:hover {
  transform: scale(1.2);
  z-index: 2;
}

.blocks__initem {
  border: 1px solid #1F1F1F;
  border-radius: 22px;
}

.blocks__image {
  padding: 0 0 46% 0;
  position: relative;
}

.blocks__image img {
  position: absolute;
  top: 0;
  left: 0;
  max-width: 520px;
  height: 221px;
  -o-object-fit: cover;
  object-fit: cover;
  pointer-events: none;
}

.blocks__name {
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  text-transform: uppercase;
}

.blocks__list li {
  position: relative;
  padding: 9px 28px 6px 28px;
  color: #262626;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.02em;
}

.blocks__list li::before {
  content: "";
  display: block;
  position: absolute;
  top: 16px;
  left: 12px;
  width: 4px;
  height: 4px;
  background-color: #262626;
  border-radius: 50%;
}

.blocks__list li:not(:last-child) {
  border-bottom: 1px solid rgba(31, 31, 31, 0.1);
}

.block__btn {
  margin: 100px auto;
}

.videos {
  position: relative;
}

.videos__btn {
  position: absolute;
  top: 612px;
  left: 32%;
  display: block;
  padding: 8px 26px;
  text-align: center;
  color: #fff;
  font-size: 24px;
  line-height: 36px;
  background: #F9D40E;
  border-radius: 20px;
  transition: all 0.3s ease;
}

.videos__btn:hover {
  transform: rotate(2deg);
}

.videos .title {
  margin-bottom: 30px;
}

.videos__border {
  margin-top: 42px;
  padding: 66px 79px;
  max-width: 1140px;
  background: #1E6482;
  box-shadow: 5px 5px 15px rgba(255, 255, 255, 0.05);
  border: 1px solid #fff;
  border-radius: 22px;
}

.slider {
  position: relative;
  margin: 0 auto;
  width: 800px;
  height: 450px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  touch-action: pan-y;
}

.slider__list {
  width: 800px;
  height: 450px;
  overflow: hidden;
}

.slider__list .grab {
  cursor: -webkit-grab;
  cursor: grab;
}

.slider__list .grabbing {
  cursor: -webkit-grabbing;
  cursor: grabbing;
}

.slider__track {
  display: flex;
}

.slide {
  display: flex;
  flex-shrink: 0;
  max-width: 800px;
  height: 450px;
}

.slide video {
  position: relative;
  width: 800px;
  height: 450px;
  border-radius: 22px;
  border: 1px solid #fff;
}

.slide-next,
.slide-prev {
  position: absolute;
  background: none;
  cursor: pointer;
  transition: 0.3s all ease;
}

.slide-next {
  bottom: 31%;
  right: 6%;
}

.slide-prev {
  bottom: 31%;
  left: 6%;
}

.slide-next.disabled,
.slide-prev.disabled {
  opacity: 0.25;
  pointer-events: none;
}

.bonus {
  position: relative;
  padding: 32px 20px 50px 20px;
  background: linear-gradient(245.12deg, #1A668D 7.84%, #59A6CC 97.6%);
  z-index: 2;
}

.bonus .title {
  margin-bottom: 62px;
}

.bonus__grid {
  display: -ms-grid;
  display: grid;
  gap: 40px;
  -ms-grid-rows: auto 40px auto;
  -ms-grid-columns: 560px 40px 560px;
  grid-template: repeat(2, auto)/repeat(2, 560px);
}

.bonus__item {
  position: relative;
  padding: 26px 20px 35px 20px;
  background: #fff;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.25);
  border-radius: 22px;
  z-index: 5;
}

.bonus .suprise {
  position: absolute;
  top: -75px;
  right: -55px;
  z-index: -1;
}

.curent__bonus {
  position: absolute;
  top: 90px;
  left: 0;
}

.bonus__body {
  margin-left: 240px;
  max-width: 290px;
  color: #03405D;
}

.bonus__title {
  margin-bottom: 22px;
  font-size: 24px;
  line-height: 29px;
  text-transform: uppercase;
}

.bonus__list {
  padding-bottom: 16px;
  min-height: 205px;
  border: 1px solid #1F1F1F;
  border-radius: 22px;
}

.bonus__list-item {
  position: relative;
  padding-top: 26px;
  padding-right: 10px;
  padding-left: 40px;
}

.bonus__list-item:not(:last-child) {
  padding-bottom: 12px;
  border-bottom: 1px solid #ccc;
}

.bonus__list-item::before {
  content: "";
  position: absolute;
  top: 30px;
  left: 22px;
  display: block;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: #03405D;
  color: #03405D;
}

.bonus__bg-one,
.bonus__bg-two {
  position: absolute;
  bottom: 0;
  left: 0;
}

.bonus .bonus__btn {
  position: relative;
  margin: 70px auto;
  z-index: 5;
}

.review {
  position: relative;
  padding: 100px 0;
  text-align: center;
}

.review__title {
  margin-bottom: 50px;
  color: #01405D;
  font-weight: 700;
  font-size: 48px;
  line-height: 61px;
  letter-spacing: 0.02em;
  text-transform: uppercase;
}

.review__bg {
  z-index: 6;
  pointer-events: none;
}

.review__bg img {
  width: 718px;
  height: 718px;
  -webkit-animation: circle 30s linear infinite;
  animation: circle 30s linear infinite;
}

.review__bg .bg__one {
  position: absolute;
  top: 44px;
  left: -200px;
}

.review__bg .bg__two {
  position: absolute;
  top: -200px;
  right: -200px;
}

.swiper {
  width: 1240px;
  height: 568px;
  border-radius: 22px;
}

.swiper-slide {
  width: 379px;
  background: #fff;
}

.swiper-slide img {
  width: 349px;
  height: 538px;
  border-radius: 22px;
  pointer-events: none;
}

.swiper-slide:nth-child(3n+1) {
  border: 15px solid #01405D;
  border-radius: 22px;
}

.swiper-slide:nth-child(3n+2) {
  border: 15px solid #FED917;
  border-radius: 22px;
}

.swiper-slide:nth-child(3n+3) {
  border: 15px solid #FF5E5E;
  border-radius: 22px;
}

.training {
  padding: 80px 0;
  position: relative;
  background: #028CCF;
}

.training__thanks {
  position: absolute;
  top: 80px;
  left: 47.5%;
  margin: 0 50px;
  padding: 80px 56px 54px 56px;
  display: none;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: 1000px;
  height: 705px;
  background: #FFFFFF;
  border-radius: 22.5965px;
  transform: translateX(-50%);
}

.training__thanks .training__thanks-image {
  position: relative;
  margin: 0 auto;
}

.training__thanks .training__thanks-image::before {
  content: "";
  display: block;
  position: absolute;
  top: 41px;
  left: 46px;
  width: 41px;
  height: 48px;
  background: url("../img/pop-up/submitgreen.svg");
}

.training__thanks .training__thanks-text {
  margin: 50px 0 100px 0;
  font-weight: 700;
  font-size: 36px;
  line-height: 46px;
  letter-spacing: 0.02em;
  color: #008DD2;
}

.training__form {
  margin: 0 50px;
  padding: 30px 56px 54px 56px;
  display: flex;
  justify-content: space-between;
  min-width: 78%;
  height: 618px;
  background: #fff;
  border-radius: 22.5965px;
  overflow: hidden;
}

.training__title {
  margin-bottom: 28px;
  font-weight: 700;
  font-size: 50px;
  line-height: 65px;
  letter-spacing: 0.02em;
  color: #008DD2;
}

.training__item {
  display: -ms-grid;
  display: grid;
  -moz-column-gap: 28px;
  column-gap: 28px;
  -ms-grid-rows: 1fr;
  -ms-grid-columns: 58px 28px 1fr;
  grid-template: 1fr/58px 1fr;
}

.training__item-image img {
  margin: 0 auto;
  display: block;
}

.training__item-text {
  margin-bottom: 33px;
}

.training__subtitle {
  font-weight: 500;
  font-size: 28px;
  line-height: 36px;
  letter-spacing: 0.02em;
  color: #008DD2;
}

.training__text {
  font-size: 22px;
  line-height: 29px;
  color: #1D6280;
}

.form {
  padding-left: 35px;
  -ms-grid-row-align: center;
  align-self: center;
}

.form .form__text {
  margin-bottom: 4px;
  font-size: 22px;
  line-height: 29px;
  color: #008DD2;
}

.form .input {
  margin-bottom: 21px;
  padding: 0 21px;
  width: 375px;
  height: 73px;
  font-size: 19px;
  line-height: 25px;
  border: 2px solid #008DD2;
  border-radius: 14px;
}

.form button {
  margin: 14px 0 21px 0;
  display: block;
  width: 375px;
  height: 88px;
  font-weight: 700;
  font-size: 22px;
  line-height: 29px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #FBFBFB;
  background: #FF5E5E;
  box-shadow: 0 7px 21px rgba(237, 76, 76, 0.3);
  border-radius: 11px;
  transition: 0.3s all ease 0s;
}

.form button:hover {
  background: #FED917;
  box-shadow: inset 0 7px 21px rgba(255, 179, 56, 0.3);
}

.form .input.error {
  box-shadow: 0px 0px 10px #ff5151;
}

.custom-checkbox {
  display: none;
}

.custom-checkbox:checked + .custom-label::after {
  transform: scale(1);
}

.custom-label {
  position: relative;
  display: inline-flex;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0.01em;
  color: #3966FF;
  cursor: pointer;
}

.custom-label::before {
  margin-right: 21px;
  content: "";
  align-self: flex-start;
  flex: 0 0 32px;
  height: 32px;
  border: 2px solid #008DD2;
  border-radius: 7px;
}

.custom-label::after {
  content: "";
  position: absolute;
  top: 4px;
  left: 6px;
  width: 20px;
  height: 22px;
  background: url("../img/pop-up/submit.svg") no-repeat;
  transform: scale(0);
  transition: transform 0.1s ease 0s;
}

.custom-label .cookie-link {
  text-decoration: underline;
  cursor: pointer;
}

.custom-checkbox.error ~ .custom-label::before {
  box-shadow: 0 0 15px #ff5151;
}

.footer {
  padding: 50px 0 41px 0;
}

.footer__body {
  display: -ms-grid;
  display: grid;
  -moz-column-gap: 64px;
  column-gap: 64px;
  row-gap: 30px;
  -ms-grid-rows: minmax(51px, 91px) 30px 1fr 30px 20px;
  -ms-grid-columns: minmax(125px, 254px) 64px minmax(310px, 678px) 64px 217px;
  grid-template: minmax(51px, 91px) 1fr 20px/minmax(125px, 254px) minmax(310px, 678px) 217px;
}

.footer__contacts {
  -ms-grid-column-align: end;
  justify-self: end;
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3/4;
}

.footer__link {
  font-size: 16px;
  line-height: 20px;
  -webkit-text-decoration-line: underline;
  text-decoration-line: underline;
  color: #008DD2;
}

.footer__link:not(:last-child) {
  margin-right: 58px;
}

.footer__text {
  font-size: 16px;
  line-height: 20px;
  color: #345F74;
}

.footer__text a {
  -webkit-text-decoration-line: underline;
  text-decoration-line: underline;
  color: #008DD2;
}

.org {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
}

.copy {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3/4;
  font-size: 14px;
}

.footer__links {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
}

.footer__disign {
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3/4;
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3/4;
}

.exitblock {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 100000;
}

.exitblock .fon {
  background: rgba(3, 64, 93, 0.8);
  opacity: 0.8;
  position: fixed;
  width: 100%;
  height: 100%;
}

.exitblock .modaltext {
  position: fixed;
  padding: 18px;
  top: 55px;
  left: 35%;
  max-width: 605px;
  background: rgb(28, 112, 155);
  background: linear-gradient(180deg, rgb(28, 112, 155) 0%, rgb(89, 174, 218) 53%);
  border: 1px solid #FFFFFF;
  border-radius: 22px;
}

.exitblock .modaltext__popup {
  padding: 136px 98px 40px 98px;
  background: #fff;
  border-radius: 22px;
  overflow: hidden;
}

.popup__form-logo {
  position: absolute;
  top: -11px;
  left: 0;
}

.popup__body {
  position: absolute;
  top: 38px;
  width: 398px;
  z-index: 10;
  color: #1D617E;
}

.popup__body img {
  position: absolute;
  left: 165px;
  top: 88px;
  width: 50px;
  height: 50px;
}

.popup__form-title,
.popup__form-text {
  text-align: center;
  font-weight: 700;
}

.popup__form-title {
  margin: 0 0 10px 0;
  font-size: 32px;
  line-height: 36px;
}

.popup__form-text {
  margin-bottom: 32px;
  font-size: 20px;
  line-height: 26px;
}

.popup__input-block {
  margin: -77px auto 0 auto;
  max-width: 360px;
}

.popup__input-block p {
  margin-bottom: 5px;
}

.popup__input-block .popup__form-input {
  margin-bottom: 15px;
  padding: 17px;
  width: 100%;
  border: 1px solid #008DD2;
  border-radius: 10px;
}

.popup__input-block .popup__form-input.error {
  box-shadow: 0px 0px 10px #ff5151;
}

.popup__custom-checkbox {
  display: none;
}

.popup__custom-checkbox:checked + .popup__custom-label::after {
  transform: scale(1);
}

.popup__custom-label {
  position: relative;
  display: inline-flex;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0.01em;
  cursor: pointer;
}

.popup__custom-label::before {
  margin-right: 21px;
  content: "";
  align-self: flex-start;
  flex: 0 0 32px;
  height: 32px;
  border: 1px solid #008DD2;
  border-radius: 5px;
}

.popup__custom-label::after {
  content: "";
  position: absolute;
  top: 6px;
  left: 7px;
  width: 20px;
  height: 22px;
  background: url("../img/yes.png") no-repeat;
  transform: scale(0);
  transition: transform 0.1s ease 0s;
}

.popup__custom-label .cookie-link {
  color: #1D617E;
  text-decoration: underline;
  cursor: pointer;
}

.popup__custom-checkbox.error ~ .popup__custom-label::before {
  box-shadow: 0 0 15px #ff5151;
}

.popup__form-btn {
  display: block;
  margin: 35px auto 0 auto;
  padding: 22px 0;
  width: 266px;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #fff;
  text-transform: uppercase;
  background: #FF5E5E;
  box-shadow: 0px 5px 15px rgba(237, 76, 76, 0.3);
  border-radius: 8px;
  transition: all 0.3s ease 0s;
}

.popup__form-btn:hover {
  background: #FED917;
}

.closeblock {
  cursor: pointer;
  position: fixed;
  line-height: 60px;
  font-size: 82px;
  transform: rotate(45deg);
  text-align: center;
  top: 20px;
  right: 30px;
  color: #337AB7;
}

.closeblock:hover {
  color: #000;
}

@media (max-width: 2715px) {
  .about__body {
    left: 29.5%;
    width: 914px;
  }
  .about-bg .about__six {
    left: 650px;
  }
}
@media (max-width: 2560px) {
  .about__body {
    position: absolute;
    top: 12%;
    /* потом убрать */
    left: 28.5%;
  }
  .about-bg .about__six {
    left: 556px;
  }
}
@media (max-width: 2400px) {
  .about__body {
    position: absolute;
    left: 20.5%;
  }
  .about-bg .about__six {
    left: 350px;
  }
}
@media (max-width: 2300px) {
  .about-bg .about__six {
    left: 305px;
  }
}
@media (max-width: 2100px) {
  .about-bg .about__six {
    left: 252px;
  }
}
@media (max-width: 1840px) {
  .about-bg .about__six {
    left: 206px;
  }
}
@media (max-width: 1810px) {
  .about__body {
    left: 19%;
  }
}
@media (max-width: 1790px) {
  .about-bg .about__six {
    left: 150px;
  }
  .blocks__body {
    margin-bottom: 38px;
    left: 17.5%;
  }
  .blocks__name {
    padding: 4px 0 0 4px;
    font-size: 22px;
    line-height: 26px;
  }
  .blocks__row {
    margin-top: 80px;
  }
  .slide-next {
    right: 3%;
  }
  .slide-prev {
    left: 3%;
  }
}
@media (max-width: 1540px) {
  .cookie {
    left: 12%;
  }
  .about__body {
    top: 8%;
    left: 14%;
  }
  .about-bg .about__three {
    right: 26px;
  }
  .about-bg .about__six {
    left: 76px;
  }
  .speaker {
    padding: 75px 0 100px 0;
  }
  .speaker__about {
    margin-left: 100px;
  }
  .photo {
    right: -112px;
  }
  .circle {
    top: -136px;
  }
  .blocks__row {
    margin-top: 70px;
    -moz-column-gap: 60px;
    column-gap: 60px;
  }
  .slide-next {
    right: 2%;
  }
  .slide-prev {
    left: 2%;
  }
  .review__bg .bg__one {
    left: -359px;
  }
  .review__bg .bg__two {
    right: -359px;
  }
  .training__form {
    margin: 0 12px;
    padding: 30px 26px 54px 46px;
  }
  .training__thanks {
    left: 45.5%;
  }
  .form {
    padding-left: 30px;
  }
  .exitblock .modaltext {
    top: 16px;
  }
}
@media (max-width: 1480px) {
  .cookie {
    left: 10%;
  }
  .blocks__body {
    text-align: left;
  }
  .blocks__items {
    width: 1500px;
  }
  .blocks__slider {
    width: 1500px;
  }
}
@media (max-width: 1480px) {
  .cookie {
    left: 8%;
  }
}
@media (max-width: 1340px) {
  .cookie {
    left: 6%;
  }
}
@media (max-width: 1280px) {
  .cookie {
    left: 4%;
  }
  .benefits__items {
    margin: 0 0 50px 180px;
    -moz-column-gap: 4px;
    column-gap: 4px;
    row-gap: 42px;
    grid-template-columns: repeat(auto-fit, minmax(195px, 260px));
  }
  .benefits__items .benefits__item {
    margin: -20px 0 0 0;
  }
  .benefits__items .benefits__text {
    padding: 15px 22px;
    width: 250px;
    height: 70px;
    font-size: 14px;
    font-weight: 300;
    line-height: 20px;
  }
  .benefits__image {
    padding: 0 0 62% 0;
  }
  .benefits__image img {
    margin-left: -6px;
    width: 260px;
    height: 223px;
  }
  .certificate {
    padding: 50px 30px;
    max-width: 780px;
    height: 335px;
  }
  .certificate .certificate__title {
    font-size: 20px;
    line-height: 25px;
  }
  .certificate .certificate__text {
    font-size: 16px;
    line-height: 20px;
  }
  .certificate .btn {
    margin-top: 25px;
    width: 230px;
  }
  .certificate__image img {
    width: 270px;
    height: 208px;
    border-radius: 10px;
  }
  .slider-arrows {
    margin-top: 40px;
    display: block;
    text-align: center;
  }
  .slide-next {
    right: 1%;
  }
  .slide-prev {
    left: 1%;
  }
  .review__track {
    padding: 0 0 0 36px;
  }
  .training__thanks {
    margin: 0 32px;
    left: 47.5%;
    width: 1058px;
  }
  .blocks__items {
    grid-template: repeat(auto-fit, 730px)/repeat(2, 502px);
  }
  .block__item {
    -ms-grid-rows: 58px 610px;
    -ms-grid-columns: 462px;
    grid-template: 58px 610px/462px;
    width: 502px;
    height: 730px;
  }
  .blocks__image img {
    max-width: 460px;
    height: 196px;
  }
  .bonus .title {
    text-align: center;
  }
  .bonus__grid {
    margin: 0 auto;
    grid-template: repeat(4, auto)/560px;
    width: 560px;
  }
  .exitblock .modaltext {
    left: 22%;
  }
}
@media (max-width: 1198px) {
  .cookie {
    left: 2%;
  }
  .logo img {
    width: 125px;
    height: 51px;
  }
  .header__body {
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: minmax(71px, 91px);
    -ms-grid-columns: 219px 1fr 173px;
    grid-template: minmax(71px, 91px)/219px 1fr 173px;
    align-items: center;
  }
  .header__items {
    display: none;
  }
  .about__top {
    -ms-grid-rows: 780px;
    -ms-grid-columns: 1fr [2];
    grid-template: 780px/repeat(2, 1fr);
  }
  .about__body {
    top: 4%;
    left: 8%;
    width: 550px;
  }
  .about__body .about__title {
    font-size: 36px;
    line-height: 46px;
  }
  .about__body .about__subtitle {
    font-size: 20px;
    line-height: 25px;
  }
  .about__body .about__text {
    margin-bottom: 25px;
    font-size: 16px;
    line-height: 36px;
  }
  .about__body .btn {
    padding: 22px 0;
    width: 284px;
    font-size: 16px;
    line-height: 20px;
  }
  .about__speaker {
    padding: 22px;
    width: 262px;
    height: 91px;
  }
  .about-bg .about__one {
    right: 0;
    width: 95px;
    height: 95px;
  }
  .about-bg .about__three {
    right: 60px;
    width: 340px;
    height: 435px;
  }
  .about-bg .about__four {
    top: 47%;
    right: 0;
    width: 450px;
    height: 64px;
  }
  .about-bg .about__five {
    bottom: -30px;
    right: 0;
    width: 359px;
    height: 418px;
  }
  .about-bg .about__six {
    bottom: 118px;
    left: -40px;
  }
  .speaker {
    padding: 35px 0 40px 0;
  }
  .speaker__about {
    margin-left: 178px;
    padding: 15px 6px 8px 6px;
    width: 310px;
    height: 489px;
    text-align: center;
  }
  .speaker__about .speaker__body {
    margin-bottom: 25px;
  }
  .speaker__about .title {
    font-size: 20px;
    line-height: 25px;
  }
  .speaker__about .text {
    font-size: 16px;
    line-height: 20px;
  }
  .speaker__item {
    margin-bottom: 15px;
    padding: 12px;
    width: 297px;
    height: 107px;
    text-align: left;
  }
  .speaker__item .text {
    font-size: 14px;
    line-height: 18px;
  }
  .speaker__yellow {
    padding: 20px 12px;
    width: 297px;
    height: 133px;
    text-align: left;
  }
  .speaker__yellow .title {
    margin-bottom: 5px;
  }
  .speaker__yellow .text {
    font-size: 14px;
    line-height: 18px;
  }
  .photo {
    top: 43px;
    right: 162px;
  }
  .photo img {
    width: 418px;
    height: 493px;
  }
  .circle {
    top: -38px;
    right: -208px;
  }
  .circle img {
    width: 536px;
    height: 536px;
  }
  .review {
    padding: 50px 0 100px 0;
  }
  .review__title {
    font-size: 36px;
  }
  .review__bg .bg__one {
    top: 20%;
    left: -180px;
    width: 367px;
    height: 367px;
  }
  .review__bg .bg__two {
    top: -60px;
    right: -180px;
    width: 367px;
    height: 367px;
  }
  .training__thanks {
    margin: 0 27px;
    width: 1090px;
    height: 623px;
  }
  .training__form {
    padding: 36px 15px 36px 15px;
    height: 623px;
  }
  .training__form .training__body {
    margin-right: 20px;
  }
  .training__form .training__title {
    margin-bottom: 36px;
    font-size: 36px;
  }
  .training__form .training__subtitle {
    font-size: 22px;
  }
  .form {
    padding-top: 40px;
  }
  .form .input {
    width: 350px;
    height: 60px;
    font-size: 17px;
  }
  .form button {
    margin: 4px 0 24px 0;
    width: 350px;
    height: 72px;
  }
}
@media (max-width: 1152px) {
  .cookie {
    left: 0;
  }
  .training__thanks {
    width: 1082px;
  }
  .blocks__items {
    grid-template: repeat(auto-fit, 760px)/repeat(2, 442px);
  }
  .block__item {
    -ms-grid-rows: 58px 642px;
    -ms-grid-columns: 402px;
    grid-template: 58px 642px/402px;
    width: 442px;
    height: 760px;
  }
  .blocks__image img {
    max-width: 401px;
    height: 171px;
  }
}
@media (max-width: 1024px) {
  .benefits__items {
    margin: 0 0 50px 130px;
  }
  .training__thanks {
    left: 44.5%;
    width: 926px;
  }
}
@media (max-width: 1072px) {
  .benefits__items {
    margin: 0 0 50px 148px;
  }
  .slide-prev,
.slide-next {
    bottom: 2%;
  }
  .videos__border {
    padding: 66px 79px 105px 79px;
  }
  .slide-prev {
    left: 8%;
  }
  .slide-next {
    right: 8%;
  }
  .slider,
.slider__list,
.slide {
    width: 750px;
    height: 423px;
  }
  .slide video {
    width: 750px;
    height: 423px;
  }
  .videos__border {
    padding: 66px 0 105px 0;
  }
}
@media (max-width: 997px) {
  .header__body {
    -moz-column-gap: 32px;
    column-gap: 32px;
  }
  .benefits__items {
    margin: 0 0 50px 70px;
  }
  .speaker__about {
    margin-left: 100px;
  }
  .blocks__items {
    grid-template: repeat(auto-fit, 624px)/repeat(2, 384px);
  }
  .block__item {
    -ms-grid-rows: 58px 505px;
    -ms-grid-columns: 344px;
    grid-template: 58px 505px/344px;
    width: 384px;
    height: 624px;
  }
  .blocks__image img {
    width: 342px;
    height: 146px;
  }
  .slider__list,
.slider,
.slide {
    width: 650px;
    height: 367px;
  }
  .slide video {
    width: 650px;
    height: 367px;
  }
  .slide-prev {
    left: 12%;
  }
  .slide-next {
    right: 12%;
  }
  .footer__body {
    -moz-column-gap: 52px;
    column-gap: 52px;
  }
  .exitblock .modaltext {
    left: 13%;
  }
}
@media (max-width: 912px) {
  .training__thanks {
    left: 47.5%;
    width: 856px;
  }
  .speaker__about {
    margin-left: 28px;
  }
}
@media (max-width: 900px) {
  .about__top {
    grid-template: 948px/repeat(2, 1fr);
  }
  .about__body {
    width: 440px;
  }
  .about­­__speaker {
    bottom: 4%;
  }
  .about-bg .about__four {
    top: 62%;
  }
  .about-bg .about__six {
    bottom: 174px;
    left: -60px;
  }
  .training__thanks {
    width: 812px;
  }
}
@media (max-width: 870px) {
  .photo {
    right: 88px;
  }
  .blocks__items {
    grid-template: repeat(auto-fit, 640px)/repeat(2, 326px);
  }
  .block__item {
    padding: 10px;
    -ms-grid-rows: 58px 542px;
    -ms-grid-columns: 305px;
    grid-template: 58px 542px/305px;
    width: 326px;
    height: 640px;
  }
  .blocks__image img {
    width: 305px;
    height: 130px;
  }
  .slider__list,
.slider,
.slide {
    width: 560px;
    height: 315px;
  }
  .slide video {
    width: 560px;
    height: 315px;
  }
  .slide-prev {
    left: 12%;
  }
  .slide-next {
    right: 12%;
  }
}
@media (max-width: 832px) {
  .training__thanks {
    margin: 0 17px;
    width: 742px;
  }
}
@media (max-width: 820px) {
  .about__body {
    top: 4%;
    left: 7%;
  }
  .about-bg .about__three {
    right: -2px;
  }
  .about__speaker {
    bottom: 7%;
    right: 22.5%;
  }
  .benefits__items {
    margin: 0 0 50px 16px;
  }
  .blocks__slider {
    width: 1266px;
  }
  .blocks__track {
    justify-content: start;
    width: 1266px;
  }
  .block__item:not(:last-child) {
    margin-right: 30px;
  }
  .training__thanks {
    padding: 80px 15px 56px 15px;
    margin: 0 20px;
    width: 610px;
    height: 1088px;
  }
  .training__form {
    padding: 24px 15px 36px 15px;
    flex-wrap: wrap;
    justify-content: center;
    height: 1088px;
  }
  .training__form .form {
    padding: 0;
    margin: -40px 0 0 70px;
  }
  .training__form .training__title {
    margin-bottom: 25px;
    font-size: 28px;
    line-height: 54px;
    text-align: center;
  }
  .training__form .training__subtitle {
    font-size: 22px;
    line-height: 30px;
  }
  .footer__body {
    -ms-grid-rows: minmax(51px, 91px) 1fr 20px 20px;
    -ms-grid-columns: minmax(125px, 521px) 10px minmax(310px, 421) 10px 114px;
    grid-template: minmax(51px, 91px) 1fr 20px 20px/minmax(125px, 521px) minmax(310px, 421) 114px;
    -moz-column-gap: 10px;
    column-gap: 10px;
  }
}
@media (max-width: 780px) {
  .header__body {
    -moz-column-gap: 0;
    column-gap: 0;
  }
  .benefits__items {
    margin: 0 0 30px 55px;
    grid-template-columns: repeat(auto-fit, minmax(195px, 220px));
  }
  .benefits__items .benefits__text {
    width: 210px;
  }
  .benefits__image {
    padding: 0 0 53% 0;
  }
  .benefits__image img {
    width: 214px;
    height: 183px;
  }
  .certificate {
    padding: 35px 30px;
    max-width: 670px;
    height: 335px;
  }
  .certificate .certificate__body {
    margin-right: 82px;
  }
  .certificate__image img {
    width: 240px;
    height: 178px;
  }
  .photo {
    right: 0px;
  }
  .blocks__items {
    grid-template: repeat(auto-fit, 640px)/420px;
  }
  .block__item {
    -ms-grid-rows: 58px 542px;
    -ms-grid-columns: 402px;
    grid-template: 58px 542px/402px;
    margin: 0;
    width: 422px;
  }
  .blocks__image img {
    width: 401px;
    height: 170px;
  }
  .exitblock .modaltext {
    top: 150px;
    left: 6%;
  }
}
@media (max-width: 736px) {
  .videos__border {
    padding: 36px 0 76px 0;
  }
  .slider,
.slider__list,
.slide {
    width: 396px;
    height: 224px;
  }
  .slide video {
    width: 396px;
    height: 224px;
  }
  .slide-prev {
    left: 18%;
  }
  .slide-next {
    right: 18%;
  }
  .slide-prev,
.slide-next {
    bottom: 3%;
  }
  .arrows img {
    width: 40px;
    height: 40px;
  }
}
@media (max-width: 720px) {
  .about__top {
    -ms-grid-rows: 1065px 202px;
    -ms-grid-columns: 1fr;
    grid-template: 1065px 202px/1fr;
  }
  .about__top .about-bg .about__speaker {
    right: 21%;
    bottom: 6%;
  }
  .about__top .about-bg .about__one {
    top: 53%;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
  }
  .about__top .about-bg .about__three {
    top: -232px;
    right: -16px;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
  }
  .about__top .about-bg .about__four {
    top: -128%;
    right: -74px;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
    width: 525px;
    height: 82px;
  }
  .about__top .about-bg .about__five {
    top: -110%;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
    width: 400px;
    height: 450px;
  }
  .about-bg .about__six {
    left: -52px;
    bottom: 308px;
    width: 100px;
    height: 103px;
  }
  .about__top .about__title {
    line-height: 45px;
  }
  .about__body {
    width: 298px;
  }
  .about__body .about__text {
    margin-right: 0;
  }
  .about__speaker {
    right: 25%;
  }
  .benefits__items {
    margin: 0 20% 100px 19%;
    -moz-column-gap: 4px;
    column-gap: 4px;
    row-gap: 88px;
    grid-template: repeat(auto-fit, 416px);
  }
  .benefits__items .benefits__item {
    margin: -14px 0 45px 0;
    -ms-grid-rows: auto 0;
    -ms-grid-columns: 518px;
    grid-template: auto 0/518px;
  }
  .benefits__items .benefits__text {
    padding: 17px 22px;
    width: 416px;
    height: 80px;
    font-size: 16px;
    font-weight: 300;
    line-height: 20px;
    text-align: center;
  }
  .benefits__image {
    padding: 0 0 75% 0;
  }
  .benefits__image img {
    margin-left: -16px;
    width: 446px;
    height: 381px;
  }
  .exitblock .modaltext {
    left: 3%;
  }
}
@media (max-width: 670px) {
  .certificate {
    justify-content: center;
    flex-wrap: wrap;
    max-width: 460px;
    height: 562px;
  }
  .certificate .certificate__body {
    margin: 0;
  }
  .certificate .certificate__body .btn {
    margin: 30px auto;
  }
  .speaker {
    padding-bottom: 60px;
  }
  .speaker .speaker__about {
    margin-left: 3%;
  }
  .speaker .photo {
    top: 64px;
    right: -30px;
  }
  .circle {
    top: -26px;
    right: -275px;
    z-index: 0;
  }
  .bonus__grid {
    margin: 0 auto;
    grid-template: repeat(4, auto)/440px;
    width: 440px;
  }
  .bonus__body {
    margin-left: 184px;
  }
  .review {
    text-align: left;
  }
  .review .review__title {
    margin: 0 0 50px 36px;
  }
  .review__bg .bg__one {
    top: 5%;
    left: 60%;
    width: 485px;
    height: 485px;
  }
  .review__bg .bg__two {
    display: none;
  }
  .training__thanks {
    margin: 0 14px;
    width: 524px;
  }
  .training__form .training__subtitle,
.training__form .training__text {
    font-size: 18px;
    line-height: 25px;
  }
  .training__form .form {
    margin: -16% 0 0 0;
  }
  .footer__body {
    margin: 0 10px;
    -ms-grid-rows: 51px 46px 36px 20px;
    -ms-grid-columns: 190px 0 1fr 0 219px;
    grid-template: 51px 46px 36px 20px/190px 1fr 219px;
    -moz-column-gap: 0;
    column-gap: 0;
  }
  .footer__body .logo {
    width: 190px;
  }
  .footer__body .org {
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    grid-row: 3/4;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
  }
  .footer__body .footer__links {
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
  }
  .footer__body .copy {
    -ms-grid-row: 4;
    -ms-grid-row-span: 1;
    grid-row: 4/5;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
  }
  .footer__body .footer__disign {
    -ms-grid-row: 4;
    -ms-grid-row-span: 1;
    grid-row: 4/5;
    -ms-grid-column: 3;
    -ms-grid-column-span: 1;
    grid-column: 3/4;
  }
  .exitblock .modaltext {
    max-width: 500px;
  }
  .popup__form {
    width: 360px;
  }
  .popup__form-title {
    margin: 58px 0 5px 0;
  }
  .popup__form-logo {
    top: -10px;
    left: -3px;
    width: 362px;
    height: 86px;
  }
}
@media (max-width: 590px) {
  .about__top {
    -ms-grid-rows: 1040px 438px;
    -ms-grid-columns: 1fr;
    grid-template: 1040px 438px/1fr;
  }
  .about__top .about-bg .about__speaker {
    right: 33.5%;
    bottom: 4%;
  }
  .about__top .about-bg .about__one {
    top: 84%;
  }
  .about__top .about-bg .about__three {
    top: 40px;
    right: -48px;
    width: 314px;
    height: 400px;
  }
  .about__top .about-bg .about__four {
    top: 0%;
    right: -184px;
    width: 562px;
    height: 66px;
  }
  .about__top .about-bg .about__five {
    top: 10%;
    right: -66px;
    width: 380px;
    height: 394px;
  }
  .about-bg .about__six {
    bottom: 512px;
    left: -52px;
  }
  .benefits__items {
    margin: 0 15% 100px 15%;
  }
  .speaker {
    padding-bottom: 368px;
  }
  .speaker .speaker__about {
    margin-left: 15%;
  }
  .speaker .photo {
    top: 372px;
  }
  .speaker .circle {
    top: 535px;
    right: 392px;
  }
  .speaker__about {
    padding: 15px 12px 8px 12px;
    width: 415px;
  }
  .speaker__about .speaker__item,
.speaker__about .speaker__yellow {
    width: 390px;
  }
  .blocks__items {
    grid-template: repeat(auto-fit, 640px)/400px;
  }
  .block__item {
    -ms-grid-rows: 65px 535px;
    -ms-grid-columns: 380px;
    grid-template: 65px 535px/380px;
    width: 400px;
  }
  .blocks__image img {
    width: 378px;
    height: 161px;
  }
}
@media (max-width: 570px) {
  .training__thanks {
    margin: 0 8px;
    width: 498px;
  }
  .training__thanks .training__thanks-text {
    font-size: 28px;
    line-height: 36px;
  }
  .slider,
.slider__list,
.slide {
    width: 314px;
    height: 178px;
  }
  .slide video {
    width: 314px;
    height: 178px;
  }
}
@media (max-width: 540px) {
  .cookie {
    padding: 48px 16px 0 26px;
  }
  .cookie-text {
    margin: 5px 100px 0 0;
  }
  .training__thanks {
    left: 46.5%;
    width: 482px;
  }
}
@media (max-width: 500px) {
  .speaker .speaker__about {
    margin-left: 7%;
  }
  .benefits__items {
    margin: 0 3% 100px 6%;
  }
  .blocks__items {
    width: 1740px;
  }
  .blocks__slider {
    width: 1740px;
  }
  .block__item {
    margin-right: 40px;
  }
  .training__thanks {
    margin: 0 8px;
    width: 445px;
  }
  .blocks {
    padding: 100px 20px 86px 20px;
  }
  .bonus__grid {
    margin: 0 auto;
    gap: 70px;
    grid-template: repeat(4, auto)/320px;
    width: 320px;
  }
  .curent__bonus {
    top: 40px;
  }
  .bonus__body {
    margin: 196px 0 0 0;
  }
}
@media (max-width: 480px) {
  .review__track {
    padding-left: 34px;
  }
  .exitblock .modaltext {
    left: 9%;
  }
}
@media (max-width: 440px) {
  .about__top .about-bg .about__speaker {
    right: 33.5%;
    bottom: 4%;
  }
  .about__top .about-bg .about__one {
    top: 84%;
  }
  .about__top .about-bg .about__three {
    top: 40px;
    right: -48px;
    width: 314px;
    height: 400px;
  }
  .about__top .about-bg .about__four {
    right: -184px;
    width: 562px;
    height: 66px;
  }
  .about__top .about-bg .about__five {
    top: 10%;
    right: -66px;
    width: 380px;
    height: 394px;
  }
  .speaker .speaker__about {
    margin-left: 3%;
  }
  .benefits__items {
    margin: 0 1% 100px 2%;
  }
  .blocks__items {
    grid-template: repeat(auto-fit, 640px)/400px;
  }
  .block__item {
    -ms-grid-rows: 65px 535px;
    -ms-grid-columns: 380px;
    grid-template: 65px 535px/380px;
    width: 400px;
  }
  .blocks__image img {
    width: 378px;
    height: 161px;
  }
  .certificate {
    max-width: 420px;
    height: 620px;
  }
  .certificate .certificate__image img {
    width: 334px;
    height: 243px;
  }
  .scale {
    transform: scale(1.25);
  }
  .circle {
    top: 500px;
    right: 170px;
  }
  .review__track {
    padding-left: 15px;
  }
  .exitblock .modaltext {
    left: 4%;
  }
}
@media (max-width: 428px) {
  .cookie-text {
    margin: 5px 48px 0 0;
  }
  .speaker .speaker__about {
    margin-left: 2%;
  }
  .training__form {
    margin: 0 12px;
    width: 400px;
    height: 1054px;
  }
  .training__thanks {
    width: 388px;
    height: 1054px;
  }
  .review__track {
    padding-left: 10px;
  }
}
@media (max-width: 414px) {
  .header {
    padding: 0 18px;
  }
  .about__body .about__title {
    font-size: 22px;
    line-height: 26px;
  }
  .about__body .about__subtitle {
    margin-bottom: 15px;
  }
  .about__body .about__text {
    line-height: 26px;
  }
  .about__top {
    -ms-grid-rows: 712px 438px;
    -ms-grid-columns: 1fr;
    grid-template: 712px 438px/1fr;
  }
  .about__top .about-bg .about__four {
    top: 9%;
    right: -230px;
  }
  .about-bg .about__six {
    bottom: 420px;
    left: -5px;
    width: 80px;
    height: 83px;
  }
  .about__bot .btn {
    padding: 19px 0;
    height: 55px;
  }
  .about__inst {
    margin-bottom: 20px;
    font-size: 20px;
    line-height: 24px;
  }
  .about__text li {
    padding: 0 0 20px 45px;
  }
  .contact__image img {
    width: 29px;
    height: 29px;
  }
  .benefits__items {
    margin: 0 0 100px 6%;
    grid-template-columns: repeat(auto-fit, 360px);
  }
  .benefits__items .benefits__item {
    margin: -14px 0 -45px 0;
    -ms-grid-rows: auto 80px;
    -ms-grid-columns: 451px;
    grid-template: auto 80px/451px;
  }
  .benefits__items .benefits__text {
    width: 365px;
  }
  .benefits__items .benefits__image img {
    width: 380px;
    height: 326px;
  }
  .about__speaker {
    margin-right: -80px;
  }
  .certificate {
    max-width: 360px;
  }
  .speaker .speaker__about {
    margin-left: 6%;
    width: 360px;
  }
  .speaker .speaker__item,
.speaker .speaker__yellow {
    width: 335px;
  }
  .photo {
    top: 325px;
    right: -136px;
  }
  .circle {
    top: 544px;
    right: 136px;
  }
  .block__item:hover {
    transform: scale(1);
    z-index: 2;
  }
  .blocks__items {
    grid-template: repeat(auto-fit, 640px)/372px;
  }
  .block__item {
    -ms-grid-rows: 65px 535px;
    -ms-grid-columns: 352px;
    grid-template: 65px 535px/352px;
    width: 372px;
  }
  .blocks__image img {
    width: 350px;
    height: 149px;
  }
  .review {
    padding: 50px 0 0 10px;
  }
  .review .review__title {
    margin: 0 0 30px 9px;
  }
  .training__thanks {
    margin: 0 5px;
    width: 340px;
    height: 1084px;
  }
  .training__form {
    margin: 0 32px;
    width: 340px;
    height: 1116px;
  }
  .training__form .training__title {
    font-size: 26px;
    line-height: 30px;
  }
  .training__form .training__subtitle {
    font-size: 16px;
    line-height: 22px;
  }
  .form .input {
    width: 320px;
  }
  .form button {
    width: 320px;
  }
  .footer__body {
    -ms-grid-rows: 51px 46px 36px 20px 20px;
    -ms-grid-columns: 190px 1fr 193px;
    grid-template: 51px 46px 36px 20px 20px/190px 1fr 193px;
  }
  .footer__body .footer__contacts {
    -ms-grid-column-align: start;
    justify-self: start;
  }
  .footer__body .footer__disign {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    -ms-grid-row: 5;
    -ms-grid-row-span: 1;
    grid-row: 5/6;
  }
  .exitblock .modaltext {
    left: 2%;
  }
}
@media (max-width: 396px) {
  .cookie-btns .sub {
    margin: 0 0 20px 0;
  }
  .benefits__items {
    margin: 0 0 100px 3%;
  }
  .speaker .speaker__about {
    margin-left: 3%;
  }
  .blocks {
    padding: 100px 10px 86px 10px;
  }
  .training__form {
    margin: 0 24px;
  }
  .training__thanks {
    margin: 0 24px;
    width: 340px;
  }
  .review .review__title {
    margin: 0 0 30px 19px;
  }
  .swiper {
    width: 1154px;
  }
  .swiper-slide img {
    width: 288px;
    height: 465px;
  }
  .bonus__grid {
    grid-template: repeat(4, auto)/290px;
    width: 290px;
  }
  .exitblock .modaltext {
    left: 0;
  }
}
@media (max-width: 375px) {
  .cookie-text {
    margin: 0 32px 0 0;
  }
  .benefits__items {
    margin: 0 0 100px 1%;
  }
  .scale {
    transform: scale(1.1);
  }
  .blocks__items {
    grid-template: repeat(auto-fit, 640px)/350px;
  }
  .block__item {
    -ms-grid-rows: 65px 535px;
    -ms-grid-columns: 330px;
    grid-template: 65px 535px/330px;
    width: 350px;
  }
  .blocks__image img {
    width: 328px;
    height: 140px;
  }
  .review {
    padding: 50px 0 0 30px;
  }
  .review .review__title {
    margin: 0 0 30px 9px;
  }
  .swiper {
    width: 1013px;
  }
  .training__form {
    margin: 0 15px;
  }
  .training__thanks {
    margin: 0 15px;
  }
}/*# sourceMappingURL=style.css.map */